.library-main {
  /* margin: 1rem 0rem 0rem 0rem; */
  padding-bottom: 10px;
  box-sizing: border-box; 
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap; 
}
@media (min-width: 992) {
  .library-main {
    width: 800px;
  }
}

.library-control-panel {
  margin-top: 16px !important;
}

.library-edit-button {
  align-items: center;
  justify-content: center; 
  display: inline-block; 
  margin: 0px 10px 6px 10px;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  font-size: 14px !important;
  width: 100px !important;
}

.library-edit-sortby {
  width: 200px !important;
}

@media (min-width: 990px) {
  .library-noRecord-outter {
      max-width: 720px !important;
  }
}

.library-nobooks {
  height: 300px;
  margin: 10px 16px;
  padding: 0px 32px;
  border-radius: 10px;
  background-color: rgb(206, 192, 131);
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 24px;
  white-space: pre-wrap;
}

.library-highlight {
  font-weight: bold;
  text-decoration: underline;
}
