/* Online.css */

.online-search-panel {
  text-align: center;
}

.online-search-background {
  background-color: white;
  border-radius: 2px;
  margin-top: 32px;
  width: 550px;
  margin: 32px auto 32px auto;
  height: 64px;
}

.online-list {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 460px) {
  .online-list {
    width: 430px;
  }
}

@media (min-width: 890px) {
  .online-list {
    width: 860px;
  }
}

@media (min-width: 1320px) {
  .online-list {
    width: 1290px;
  }
}